body{
    /* font-family: 'Alkalami', serif; */
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

/* for red   #4E4351 */
/* for green #483838 */
/* for blue  #06283D */


.center {
    display: flex;
    justify-content: center;
}

.double_dots{
    color: #FECD70;
    text-shadow: 0.1px 0.1px 6px #FFF38C;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 100px;
    height: 50px;
}

.date_settings{
    padding: 0px;
    margin-top: 0px;
}


/*  red  */
.time_theme_red{
    text-shadow: 0.1px 0.1px 3px #E94560;
    color: #EB1D36;
}

.date_theme_red{
    text-shadow: 0.5px 0.5px 3px #EE6983;
    color: #EC7272; 
}


/* green */
.time_theme_green{
    text-shadow: 0.1px 0.1px 3px #B1D7B4;
    color: #C3FF99;
}

.date_theme_green{
    text-shadow: 0.5px 0.5px 3px #90C8AC;
    color: #C4DFAA; 
}


/* blue */
.time_theme_blue{
    text-shadow: 0.1px 0.1px 3px #8FE3CF;
    color: #8FE3CF;
}

.date_theme_blue{
    text-shadow: 0.5px 0.5px 3px #EEEEEE;
    color: #E1FFEE; 
}

/* btns */
.btns_div{
    vertical-align: middle;
    text-align: center;
    
}

.red_btn{
    width: 16px;
    height: 16px;
    color: #EB1D36;
    background-color: #EB1D36;
    border: none;
    border-radius: 30px;
    transition: 0.2s;
}
.green_btn{
    width: 16px;
    height: 16px;
    color: #C3FF99;
    background-color: #C3FF99;
    border: none;
    border-radius: 30px;
    transition: 0.2s;
}
.blue_btn{
    width: 16px;
    height: 16px;
    color: #8FE3CF;
    background-color: #8FE3CF;
    border: none;
    border-radius: 30px;
    transition: 0.2s;
}

/* btn pseudoclasses */
.red_btn:hover{
    box-shadow: 0px 0px 3px #E94560;
}
.green_btn:hover{
    box-shadow: 0px 0px 3px #90C8AC;
}
.blue_btn:hover{
    box-shadow: 0px 0px 3px #EEEEEE;
}

.red_btn:active{
    width: 14px;
    height: 14px;
}
.green_btn:active{
    width: 14px;
    height: 14px;
}
.blue_btn:active{
    width: 14px;
    height: 14px;
}